<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link href="/styles/base.css" rel="stylesheet" defer />
  </head>
</html>
