<%- include('./includes/head', { pageTitle: 'Home' }) %>
    <!-- <script src="scripts/switch-form.js"></script> -->
  </head>
  <body
    class="w-screen h-screen overflow-hidden flex flex-col lg:flex-row items-center justify-around bg-gradient-to-t from-sky-400 to-cyan-200"
  >
   <div>
      <h1>Here is how it work!</h1>
      <div class="flex flex-col">
        <div></div>
        <div></div>
      </div>
   </div>
   <div><h1>This app was made by : John</h1></div>
   <div><h1>This app was made using : <i></i></h1></div>
   <div><h1>This app was made by : John</h1></div>
     
  </body>
</html>
