<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="styles/output.css" rel="stylesheet" />
    <script src="scripts/weather-api.js"></script>
  </head>
  <!-- Tailwind Rules = cutomName, Size, Display, Bg, Font  -->
  <body
    class="w-screen h-screen flex items-center justify-around bg-gradient-to-t from-sky-400 to-cyan-200"
  >
    <div class="header h-1/2 flex flex-col items-center justify-center">
      <h1 class="font-semibold text-center text-6xl text-whiteGradient">
        Welcome!
      </h1>
      <span class="font-semibold text-center text-3xl text-whiteGradient">
        Start Creating Your Custom Itinenary!
      </span>

      <span class="" id="weather-span"></span>
    </div>

    <hr class="p-1 py-96 bg-white" />

    <main class="w-1/4 h-1/2">
      <div
        class="card-content h-full flex flex-col justify-center items-center rounded-lg bg-whiteGradientClear"
      >
        <h2
          class="p-6 bg-blue-400 text-center font-semibold text-3xl text-whiteGradient"
        >
          Log In to start our service!
        </h2>
        <a href="/login" class="p-8 bg-teal-200 text-center my-2.5">LogIn</a>
        <!-- <hr class="p-1 px-auto bg-red-200" /> -->
        <h2
          class="p-6 bg-blue-400 text-center font-semibold text-xl text-whiteGradient"
        >
          Create an account if you don't have one yet!
        </h2>
        <a href="/signup" class="p-8 bg-teal-200 text-center my-2.5">SignUp</a>
      </div>
    </main>
  </body>
</html>
