<%- include('./includes/head', { pageTitle: 'Home' }) %>
    <link href="styles/weather.css" rel="stylesheet" />
    <link href="styles/switch-form.css" rel="stylesheet" />
    <script src="scripts/weather-api.js"></script>
    <script src="scripts/switch-form.js"></script>
  </head>
  <body
    class="w-screen h-screen overflow-hidden flex flex-col lg:flex-row items-center justify-around bg-gradient-to-t from-sky-400 to-cyan-200"
  >
    <div class="header h-2/5 flex flex-col items-center justify-center">
      <h1 class="font-semibold text-center text-2xl lg:text-6xl text-whiteGradient">
        Welcome!
      </h1>
      <span class="font-semibold text-center text-xl lg:text-3xl text-whiteGradient">
        Start Creating Your Custom Itinenary!
      </span>

      <span class="h-1/3 mt-5" id="weather-span"></span>
    </div>

    <hr class="p-1 px-96 lg:py-96 lg:px-1 bg-white" />

    <div class="side-container w-full h-2/3 lg:w-2/5 lg:h-2/3 flex lg:block justify-center items-center">
      <!-- FOR STARTING -->
      <div
        class="show rounded-3xl w-3/4 h-4/5 lg:w-full lg:h-full flex flex-col justify-center items-center bg-whiteGradientClear"
      >
        <h2
          class="p-4 bg-blue-400 text-center font-semibold text-xl lg:text-3xl rounded-2xl  text-whiteGradient"
        > 
          Log In to start our service!
        </h2>
        <button
          onclick="getLogInForm()"
          class="p-4 lg:p-5 lg:text-xl my-4 bg-cyan-100 text-center rounded-2xl  my-2.5"
          id="btn-logIn"
          class=""
        >
          Log In
        </button>

        <h2
          class="p-4 bg-blue-400 text-center font-semibold text-xl lg:text-2xl rounded-2xl text-whiteGradient"
        >
          Create an account if you don't have one yet!
        </h2>
        <button
          onclick="getSignUpForm()"
          class="p-4 lg:p-5 lg:text-xl my-4 bg-cyan-100 text-center rounded-2xl  my-2.5 "
          id="btn-signUp"
        >
          Sign Up
        </button>
      </div>
      <!-- FOR STARTING -->

      <!-- FOR LOG IN -->
      <div id="div-logIn" class="hidden w-4/5 h-4/5 lg:w-full lg:h-full">
        <form
          action="/login"
          method="POST"
          class="rounded-3xl w-full h-full flex flex-col items-center justify-center bg-whiteGradientClear"
        >
          <img class="h-1/3 lg:h-1/2 w-1/2" src="./assets/login.PNG" alt="" />

          <div class="input-container bg-cyan-300 w-4/5 rounded-2xl">
          <div
            class="w-full text-lg lg:text-2xl text-center py-3 lg:py-5" 
          >
            <label for="email">Email:</label>
            <input type="text" name="email" class="w-2/3 text-sm lg:text-xl" required />
          </div>
          <div
            class="w-full text-lg lg:text-2xl text-center py-3 lg:py-5"
          >
            <label for="password">Password:</label>
            <input
              type="password"
              name="password"
              class="w-3/5 text-sm lg:text-xl"
              required
            />
          </div>
        </div>
          <div class="w-3/4 text-lg lg:text-xl text-center py-3 lg:py-5">
            <button class="py-2 lg:py-5 px-2 lg:px-10 rounded-xl bg-cyan-100">Log In</button>
            <button
              onclick="getSignUpForm()"
              class="py-2 lg:py-5 px-2 mt-3 lg:mt-0 lg:px-10 rounded-xl ml-5 bg-cyan-100"
            >
              Create an Account
            </button>
          </div>

        </form>
      </div>
      <!-- FOR LOG IN -->

      <!-- FOR SIGN IN -->
      <div id="div-signUp" class="hidden w-4/5 h-4/5 lg:w-full lg:h-full">
        <form
          action="/signup"
          method="POST"
          class="rounded-3xl w-full h-full flex flex-col items-center justify-center bg-whiteGradientClear"
        >
          <img class="h-1/3 lg:h-1/2 w-1/2" src="./assets/signup.PNG" alt="" />
          <div class="input-container bg-cyan-300 w-4/5 rounded-2xl">
          <div
            class="w-full text-lg lg:text-2xl text-center py-1 lg:py-4"
          >
            <label for="email">Email:</label>
            <input type="text"  name="email" class="w-2/3 text-sm lg:text-xl" required />
          </div>

          <div class="w-full text-lg lg:text-2xl text-center py-1 lg:py-4">
            <label for="password">Password:</label>
            <input
              type="password"
              name="password"
              class="w-3/5 text-sm lg:text-xl"
              required
            />
          </div>
          <div
            class="w-full text-lg lg:text-2xl text-center py-1 lg:py-4"
          >
            <label for="confirm-password">Confirm Password:</label>
            <input
              type="text"
              id="confirm-password"
              name="confirm-password"
              class="w-3/4 lg:w-1/2 text-sm lg:text-xl"
              required
            />
          </div>
        </div>
          <div class="w-3/4 text-lg lg:text-xl text-center ml-10 py-1 lg:py-5">
            <button class="py-1 lg:py-5 px-2 lg:px-10 text-md lg:text-xl rounded-xl bg-cyan-100">Save</button>
            <button onclick="getLogInForm()" class="py-1 lg:py-5 px-2 lg:px-10 text-md lg:text-xl rounded-xl lg:ml-16  bg-cyan-100">
              Log in instead!
            </button>
          </div>
    
        </form>
      </div>
      <!-- FOR SIGN IN -->
    </div>
  </body>
</html>
