<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="../styles/output.css" rel="stylesheet" />
    <script src="../scripts/weather-api.js"></script>
  </head>
  <!-- Tailwind Rules = cutomName, Size, Display, Bg, Font  -->
  <body
    class="w-screen h-screen flex flex-col items-center justify-start bg-gradient-to-t from-sky-400 to-cyan-200"
  >
    <div id="div">dasdasdsadassa</div>
  </body>
</html>
