<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Course</title>
    <link href="styles/output.css" rel="stylesheet" />
    <link href="styles/map.css" rel="stylesheet" />
    <link href="styles/course.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a20821a7be4bd080f285fbe1267c0220&libraries=services"
    ></script>
    <script src="scripts/kakaoMap-api.js" defer></script>
    <script src="scripts/draggable.js" defer></script>
  </head>

  <body class="w-screen h-screen relative">
    <main
      id="main"
      class="w-full h-full flex items-center justify-around overflow-y-hidden bg-gradient-to-t from-sky-400 to-cyan-200"
    >
      <!-- FOR GRAY EFFECT -->
      <div id="gray-out" class="w-screen h-screen absolute"></div>

      <aside class="course w-1/3 h-full relative">
        <form class="w-full h-full" action="/user/mycourse" method="POST">
          <ul
            id="courseList"
            class="w-full h-4/5 flex flex-col justify-start items-center"
          ></ul>

          <div class="add-list w-full h-1/5 absolute bottom-0">
            <hr class="bg-whiteGradientClear w-full h-2 mb-4" />
            <button
              type="submit"
              id="drop-span"
              ondrop="drop(event)"
              ondragover="allowDrop(event)"
              ondragenter="enteredArea(event)"
              ondragleave="leftArea(event)"
              class="drop-span px-24 py-14 relative bg-zinc-100 z-20"
            >
              DROP PLACE HERE
            </button>
          </div>
        </form>
      </aside>

      <div class="map_wrap w-2/3 h-full relative">
        <div class="map w-full h-full" id="map"></div>
        <div id="menu_wrap">
          <div class="option">
            <form onsubmit="searchPlaces(); return false;">
              키워드 :
              <input
                type="text"
                value="서홍동 헤리티지"
                id="keyword"
                size="15"
              />
              <button type="submit">검색하기</button>
            </form>
          </div>
          <hr />
          <ul id="placesList" class="max-w-xs"></ul>
          <div id="pagination"></div>
        </div>
      </div>
    </main>
  </body>
</html>
