<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="../styles/output.css" rel="stylesheet" />
    <link href="../styles/home.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/f4c130c395.js"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="../scripts/weather-api.js"></script>
    <script src="../scripts/slider.js"></script>
  </head>
  <!-- Tailwind Rules = cutomName, Size, Display, Bg, Font  -->
  <!-- <body
    class="w-screen h-screen flex flex-col items-center justify-start bg-gradient-to-t from-sky-400 to-cyan-200"
  > -->

  <body class="w-screen h-screen bg-gradient-to-t from-sky-400 to-cyan-200">
    <header
      class="header w-full h-1/5 flex items-center justify-around bg-green-500"
    >
      <h1 class="font-semibold text-center text-5xl text-whiteGradient">
        Welcome to Your Itinenary Home
      </h1>
      <span class="max-h-24" id="weather-span"></span>
    </header>

    <main
      class="w-screen h-3/4 flex flex-wrap items-center justify-evenly mt-8"
      id="main"
    >
      <nav
        class="card-container h-96 w-80 flex flex-col rounded-lg justify-center items-center bg-whiteGradientClear"
      >
        <h1>MENU</h1>
        <div
          class="menu-item-container bg-gray-500 relative text-center mb-5 border-y-2 border-y-gray-400"
        >
          <a href="/user/newcourse" class="menu-item bg-red-200">
            Add Course
            <i class="fas fa-map-marker-alt text-blue-300 text-2xl"></i>
          </a>
        </div>
        <div
          class="menu-item-container bg-gray-500 relative text-center mb-5 border-y-2 border-y-gray-400"
        >
          <a href="/logout" class="menu-item bg-green-500">
            Add Course
            <i class="fas fa-map-marker-alt text-blue-300 text-2xl"></i>
          </a>
        </div>
        <div
          class="menu-item-container bg-gray-500 relative text-center mb-5 border-y-2 border-y-gray-400"
        >
          <a href="/logout" class="menu-item">
            Log Out
            <i class="fas fa-map-marker-alt text-blue-300 text-2xl"></i>
          </a>
        </div>
      </nav>

      <hr class="p-1 py-80 bg-white" />
      <!-- For Lists retrieved from DB -->
      <div class="course-container w-">
        <div class="course-slider">
          <% for(const course of allCourses) {%>
          <div class="course-slide h-96 w-80 rounded-lg bg-whiteGradientClear">
            <div class="course-content">
              <h2 class="p-10"><%= course.title%></h2>
              <ul class="course-list">
                <% for(const list of course.list) {%>
                <li class="course-details">
                  <h3><%= list.placeName %></h3>
                  <h3><%= list.placeLocation %></h3>
                </li>
                <% } %>
              </ul>
              <a href="/" class="p-10">View Course</a>
            </div>
          </div>
          <% } %>
        </div>
        <div class="controls">
          <div id="back">Back</div>
          <div id="forvard">Forvard</div>
        </div>
      </div>
    </main>
  </body>
</html>
