/* FOR SLIDER */
.course-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
}
.controls div {
  padding: 12px 14px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 10px;
}
.controls div.disabled {
  opacity: 0;
  cursor: default;
}

.course-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.course-slide {
  position: absolute;
  top: 5%;
  left: 10%;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.7s ease-out;
}

.course-slide--active {
  opacity: 1;
  z-index: 9;
}

.prev,
.next {
  opacity: 0.3;
}

.prev {
  transform: translate(0, -20%) scale(0.9);
}

.next {
  transform: translate(0, 20%) scale(0.8);
}
/* FOR SLIDER */

/* FOR COURSE SLIDE */
.course-list {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 75%;
}
